#diagram {
  position: relative;
  height: calc(100vh - 100px);
  height: -webkit-calc(100% - 100px);
  height: -moz-calc(100% - 100px);
  border: 1px dotted gray;
  margin: 20px;
  padding: 10px;

  & #control1 {
    left: 50px;
    top: 50px;
  }
  & #control2 {
    left: 300px;
    top: 200px;
  }

  & .control {
    position: absolute;
  }

  .control {
    background-color: #d1e1fc;
    border: 1px solid #042e99;
    border-radius: 10px;
    cursor: move;
    width: 150px;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
  }

  .draggable {
    border: 1px solid #042e99;
  }

  .not_draggable {
    border: 2px dotted red;
  }

  .title {
    margin-bottom: 10px;
    font-weight: 700;
  }

  .drag,
  .remove {
    cursor: pointer;
  }

  .btn-link {
    background: none !important;
    border: none;
    padding: 0 !important;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: #069;
    text-decoration: none;
    cursor: pointer;
  }

  //for connectors and others properly sending to front
  .window {
    z-index: 20;
  }

  .jtk-connector {
    z-index: 4;
  }

  .jtk-endpoint {
    z-index: 5;
  }

  .jtk-overlay {
    z-index: 6;
  }
}
